body {
    background-color: #ffffff;
}

#sidenav {
    background: #ffffff;
    border-right: #dedede solid 1px;
}

.navbar {
    background-color: #ffffff !important;
    border-bottom: #cbcbcb solid 1px;
}

.nav-link, .nav-link:focus {
    color: #0c0c0c !important;
}

.btn-nav {
    background-color: #f0f0f0;
    color: #404040;
}

.search-input {
    background-color: #f0f0f0;
}

.search-input::placeholder {
    color: black;
}

.nav-search {
    background-color: #c2c2c2;
}

#floating-menu {
    background-color: #c2c2c2;
}

#sidenav a {
    color: #181818;
}

.side-icon {
    color: #181818;
}

